<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--啟用 nlog extension 的區塊，有需要使用 ASP.NET Core Extension 才需使用
	<extensions>
	  <add assembly="NLog.Web.AspNetCore"/> 
	</extensions>
	-->

  <!--設定 log 輸出目標-->>
  <targets>
    <!--宣告 Target, 命名為 ErorrFile, 輸出目標 xsi:type -> file, log 檔案名稱 : error.log -->
    <target name="ErrorFile" xsi:type="File" fileName="${basedir}/error/error-${shortdate}.log" />

    <!--宣告 Target, 命名為 AppFile, 輸出目標 xsi:type -> file, log 檔案名稱 : app.log-->
    <target name="AppFile" xsi:type="File" fileName="${basedir}/app/app-${shortdate}.log" />

    <!--宣告 Target, 命名為 FatalFile, 輸出目標 xsi:type -> file, log 檔案名稱 : fatak.log -->
    <target name="FatalFile" xsi:type="File" fileName="${basedir}/error/fatal.log" />

    <!--宣告 Target, 命名為 Console, 輸出目標 xsi:type -> Console -->
    <target name="Console" xsi:type="Console" />
  </targets>

  <!--設定不同 log level 的 routing 路徑-->
  <rules>
    <!--加了這一行可以將 Microsoft namespace 下所有 class 產生的 log 過濾掉-->
    <logger name="Microsoft.*" minlevel ="Trace" final = "true"/>

    <!--將 所有 class 產生的 Trace 以上 level log 根據 "Console Target" 的設定輸出-->
    <logger name="*" minlevel="Trace" writeTo="Console" />

    <!--將 所有 class 產生的 Error level log 根據 "ErrorFile Target" 的設定輸出-->
    <logger name="*" level="Error" writeTo="ErrorFile" />

    <!--將 所有 class 產生的 Warning level log 根據 "ErrorFile Target" 的設定輸出-->
    <logger name="*" level="Warn" writeTo="ErrorFile" />

    <!--將 所有 class 產生的 Info level log 根據 "AppFile Target" 的設定輸出-->
    <logger name="*" level="Info" writeTo="AppFile" />

    <!--將所有 class 產生的 Fatel level log 根據 "FatalFile Target" 的設定輸出-->
    <logger name="*" level="Fatal" writeTo="FatalFile" />

  </rules>
</nlog>